@font-face {
    font-family: 'MyCustomFont';
    src: url('/css/fonts/VujahdayScript-Regular.ttf');
}

/* KEYFRAMES */

@keyframes glow {
    0% {
        box-shadow: 0px 0px 5px 1px rgb(40, 159, 175);
    }
    25% {
        box-shadow: 0px 0px 5px 1px #fff;
    }
    75% {
        box-shadow: 0px 0px 5px 1px #2a045c;
    }
    100% {
        box-shadow: 0px 0px 5px 1px rgb(40, 159, 175);
    }
}
@keyframes glow-btn {
    0% {
        box-shadow: 0px 0px 5px 1px rgb(40, 159, 175);
    }
    50% {
        box-shadow: 0px 0px 5px 1px #2a045c;
    }
    100% {
        box-shadow: 0px 0px 5px 1px rgb(40, 159, 175);
    }
}

/* STYLES */

body {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header, section, footer {
    border-bottom: 1px solid black;
}
h2 {
    color: #fff;
    font-size: 30px;
}
p, div.contact-list div {
    font-size: 1.2em;
}
header {
    background-color: #000;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    img.logo {
        border-radius: 50%;
        width: 45%;
        @media (max-width:640px) {
            width: 60%;
        }
        padding: 10px;
        padding-bottom: 0;
        animation: glow 10s ease 0s infinite normal;
    }
    h2.slogan {
        margin: 30px;
        text-align: center;
    }
}
h2.services {
    margin-bottom: 50px;
}
nav {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid white;
        cursor: pointer;
        font-weight: 600;
        padding: 20px;
        text-align: center;
        width: 100%;
        transition: all 0.5s ease;
    }
    .about-btn:hover, .contact-btn:hover, .email-btn:hover {
        background-color: rgba(40, 159, 175, 0.021);
        color: rgb(40, 159, 175);
        border-top: 2px solid rgb(40, 159, 175);
        border-bottom: 2px solid rgb(40, 159, 175);
    }
}
main {
    background: radial-gradient(#fff, rgb(40, 159, 175));
}
h2.services {
    color: black;
    padding: 40px;
    margin: 0;
    text-align: center;
}
section.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all 2s ease;
    width: 100%;
    overflow: hidden;
    @media (max-width:750px) {
        grid-template-columns: 1fr;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 20px;
        div {
            border-radius: 8px;
            box-shadow: 0px 0px 5px 1px #fff;
            margin-bottom: 20px;
        }
        h3 {
            margin: 0;
            text-align: center;
        }
        img {
            border-radius: 8px;
            margin: 0 auto;
            overflow: hidden;
            display: block;
            height: 250px;
            width: 350px;
        }
        p {
            font-weight: 600;
            text-align: center;
            margin: 0;
        }
    }
    div#serviceDiv3 {
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        height: 250px;
        width: 350px;
        img#service3 {
            top: -37px;
            height: 300px;
            position: absolute;
        }
        h3 {
            display: block;
        }
    }
    div#serviceDiv9 {
        overflow: hidden;
        position: relative;
        height: 250px;
        width: 350px;
        img#service9 {
            top: -60px;
            height: 350px;
            position: absolute;
        }
        h3 {
            display: block;
        }
    }
    div#serviceDiv16 {
        overflow: hidden;
        position: relative;
        height: 250px;
        width: 350px;
        img#service16 {
            top: -60px;
            left: -120px;
            height: 350px;
            width: 600px;
            position: absolute;
        }
        h3 {
            display: block;
        }
    }
    div#serviceDiv17 {
        overflow: hidden;
        position: relative;
        height: 250px;
        width: 350px;
        img#service17 {
            top: -100px;
            left: -20px;
            height: 450px;
            width: 400px;
            position: absolute;
        }
        h3 {
            display: block;
        }
    }
    div#serviceDiv20 {
        overflow: hidden;
        position: relative;
        height: 250px;
        width: 350px;
        img#service20 {
            top: -20px;
            left: -20px;
            height: 300px;
            width: 400px;
            position: absolute;
        }
        h3 {
            display: block;
        }
    }
}
section.adt-services {
    background-color: #fff;
    h2 {
        color: #000;
        margin: 0;
    }
    div#adtServicesContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: all 2s ease;
        width: 100%;
        overflow: hidden;
        @media (max-width:750px) {
            grid-template-columns: 1fr;
        }
        div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
            h3 {
                text-align: center;
            }
            div {
                border-radius: 8px;
                box-shadow: 0px 0px 5px 1px #fff;
            }
            img {
                border-radius: 8px;
                margin: 0 auto;
                overflow: hidden;
                display: block;
                height: 250px;
                width: 350px;
            }
        }
    }
}
section.adt-services,
section.about {
    font-weight: 600;
    padding: 20px 40px;
}
h2.about-heading {
    color: #000;
}
section.about {
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    p.about-text {
        font-size: 1.2em;
    }
}
section.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    div.contact-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        width: fit-content;
        margin-bottom: 30px;
    }
    div.contact-list div {
        width: fit-content;
    }
    div.contact-list div.email-address {
        margin-top: 5px;
    }
    div.contact-list div.phone-number:hover,
    div.contact-list div.email-address:hover {
        text-decoration: underline;
    }
    div.contact-list i {
        background-color: rgb(40, 159, 175);
        border-radius: 50%;
        padding: 2px 4px;
        margin-right: 5px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .email-btn-bottom {
        @media (max-width:715px) {
            display: block;
        }
    }
    .email-btn-bottom button {
        background-color: black;
        border: 1px solid black;
        border-radius: 20px;
        color: #fff;
        font-size: 18px;
        padding: 10px;
        height: 100px;
        width: 300px;
        transition: all 0.5s ease;
    }
    .email-btn-bottom button:hover {
        background-color: #fff;
        border: rgb(40, 159, 175);
        color: #000;
        cursor: pointer;
        animation: glow-btn 10s ease 0s infinite normal;
    }
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        border-radius: 50%;
        margin: 20px;
        width: 150px;
    }
    p.copyright {
        font-size: 14px;
        font-weight: 600;
    }
}

.wrap {
    display: block;
}
.nowrap {
    white-space: nowrap;
}

/* OBSERVER CODE */

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}